.MainAllSearch_container{
    display: flex;
    background: var(--default--bg--blocks);
    width: 100%;
    height: 56px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}